<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="Account.Properties.Settings.DbConnectionString" connectionString="Data Source=|DataDirectory|\db\db.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="Budget.Model.Properties.Settings.DbConnectionString" connectionString="Data Source=W:\usr\src\util\Budget\db\db.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="Budget.Model.Properties.Settings.SQLiteConnectionString" connectionString="data source=W:\usr\src\util\Budget\db\db.sqlite" providerName="System.Data.SQLite" />
    <add name="dbEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=W:\usr\src\util\Budget\db\db.sqlite&quot;" providerName="System.Data.EntityClient" />
    <add name="BudgetModelContainer" connectionString="metadata=res://*/BudgetModel.csdl|res://*/BudgetModel.ssdl|res://*/BudgetModel.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=C:\Users\root\Documents\1.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>