<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Budget.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Budget.App.Properties.Settings>
            <setting name="DbPath" serializeAs="String">
                <value>W:\usr\src\util\Budget\db\db.sdf</value>
            </setting>
        </Budget.App.Properties.Settings>
    </applicationSettings>
</configuration>